<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.letsgospringboot.myschedule.repository.MyScheduleRepository">

    <resultMap id="myScheduleResultMap" type="com.travel.letsgospringboot.myschedule.vo.MyScheduleVO">
        <constructor>
            <arg column="my_schedule_id" javaType="String"/>
            <arg column="sch_title" javaType="String"/>
            <arg column="start_at" javaType="String"/>
            <arg column="is_shared" javaType="String"/>
            <arg column="place_title" javaType="String"/>
            <arg column="addr1" javaType="String"/>
            <arg column="first_image" javaType="String"/>
        </constructor>
    </resultMap>

    <resultMap id="routeScheduleResultMap" type="com.travel.letsgospringboot.myschedule.vo.RouteScheduleVO">
        <id column="visit_item_id" property="visitId"/>
        <result column="visit_order" property="visitOrder"/>
        <result column="place_id" property="placeId"/>
        <result column="title" property="title"/>
    </resultMap>

    <resultMap id="mapScheduleResultMap" type="com.travel.letsgospringboot.myschedule.vo.MapScheduleVO">
        <constructor>
            <arg column="visit_order" javaType="String"/>
            <arg column="title" javaType="String"/>
            <arg column="mapx" javaType="String"/>
            <arg column="mapy" javaType="String"/>
            <arg column="distance_to_next" javaType="String"/>
        </constructor>
    </resultMap>

    <resultMap id="colleagueResultMap" type="com.travel.letsgospringboot.myschedule.vo.ColleagueVO">
        <constructor>
            <arg column="user_id" javaType="String"/>
            <arg column="name" javaType="String"/>
            <arg column="email" javaType="String"/>
            <arg column="permission" javaType="String"/>
        </constructor>
    </resultMap>

    <sql id="scheduleColumns">
        s.my_schedule_id,
        s.title AS sch_title,
        s.start_at,
        s.is_shared,
        p.title AS place_title,
        p.addr1,
        p.first_image,
        v.visit_order
    </sql>

    <sql id="scheduleJoins">
        FROM my_schedule s
        JOIN visit_item v ON s.my_schedule_id = v.schedule_id
        JOIN place p ON v.place_id = p.place_id
    </sql>

    <select id="getMyScheduleListAllByDate" parameterType="String" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId}
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId}
        ORDER BY start_at DESC, visit_order ASC
    </select>

    <select id="getMyScheduleListAllByTitle" parameterType="String" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId}
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId}
        ORDER BY sch_title ASC, visit_order ASC
    </select>

    <select id="getMyScheduleListSharedByDate" parameterType="String" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId} AND s.is_shared = 1
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId}
        ORDER BY start_at DESC, visit_order ASC
    </select>

    <select id="getMyScheduleListSharedByTitle" parameterType="String" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId} AND s.is_shared = 1
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId}
        ORDER BY sch_title ASC, visit_order ASC
    </select>

    <select id="getMyScheduleListSearchByDate" parameterType="map" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId} AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%',
        #{keyword}, '%'))
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId} AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%',
        #{keyword}, '%'))
        ORDER BY start_at DESC, visit_order ASC
    </select>

    <select id="getMyScheduleListSearchByTitle" parameterType="map" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId} AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%',
        #{keyword}, '%'))
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId} AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%',
        #{keyword}, '%'))
        ORDER BY sch_title ASC, visit_order ASC
    </select>

    <select id="getMyScheduleListSearchSharedByDate" parameterType="map" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId} AND s.is_shared = 1
        AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%', #{keyword}, '%'))
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId} AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%',
        #{keyword}, '%'))
        ORDER BY start_at DESC, visit_order ASC
    </select>

    <select id="getMyScheduleListSearchSharedByTitle" parameterType="map" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId} AND s.is_shared = 1
        AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%', #{keyword}, '%'))
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId} AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%',
        #{keyword}, '%'))
        ORDER BY sch_title ASC, visit_order ASC
    </select>

    <select id="getMyScheduleList" parameterType="map" resultMap="myScheduleResultMap">
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        WHERE s.user_id = #{userId}
        <if test="sharedFilter == true">AND s.is_shared = 1</if>
        <if test="keyword != null and keyword != ''">
            AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        UNION ALL
        SELECT
        <include refid="scheduleColumns"/>
        <include refid="scheduleJoins"/>
        JOIN schedule_share_user ssu ON s.my_schedule_id = ssu.my_schedule_id
        WHERE ssu.shared_user_id = #{userId}
        <if test="keyword != null and keyword != ''">
            AND (s.title LIKE CONCAT('%', #{keyword}, '%') OR p.title LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <choose>
            <when test="sortType == 'title'">ORDER BY sch_title ASC, visit_order ASC</when>
            <otherwise>ORDER BY start_at DESC, visit_order ASC</otherwise>
        </choose>
    </select>

    <delete id="deleteVisitItemsByScheduleId" parameterType="String">
        DELETE
        FROM visit_item
        WHERE schedule_id = #{scheduleId}
    </delete>

    <delete id="deleteScheduleById" parameterType="String">
        DELETE
        FROM my_schedule
        WHERE my_schedule_id = #{scheduleId}
    </delete>

    <delete id="deleteScheduleByIdAndUserId" parameterType="map">
        DELETE
        FROM my_schedule
        WHERE my_schedule_id = #{scheduleId}
          AND user_id = #{userId}
    </delete>

    <update id="updateVisitItem" parameterType="map">
        UPDATE visit_item
        SET visit_order      = #{visitOrder},
            distance_to_next = #{distanceToNext}
        WHERE visit_item_id = #{visitItemId}
    </update>

    <update id="updateSchedule" parameterType="map">
        UPDATE my_schedule
        SET title          = #{scheduleTitle},
            start_at       = #{startAt},
            budget_details = #{budgetDetail},
            todo_details   = #{todoDetail},
            is_shared      = #{isShared}
        WHERE my_schedule_id = #{scheduleId}
          AND user_id = #{userId}
    </update>

    <update id="setMyScheduleTitle" parameterType="map">
        UPDATE my_schedule
        SET title = #{title}
        WHERE my_schedule_id = #{myScheduleId}
          AND user_id = #{userId}
    </update>

    <update id="setTodoDetail" parameterType="map">
        UPDATE my_schedule
        SET todo_details = #{todoDetail}
        WHERE my_schedule_id = #{scheduleId}
    </update>

    <update id="setBudgetDetail" parameterType="map">
        UPDATE my_schedule
        SET budget_details = #{budgetDetail}
        WHERE my_schedule_id = #{scheduleId}
    </update>

    <update id="setStartAt" parameterType="map">
        UPDATE my_schedule
        SET start_at = STR_TO_DATE(#{startAt}, '%Y-%m-%d')
        WHERE my_schedule_id = #{scheduleId}
          AND user_id = #{userId}
    </update>

    <update id="setCompanionPermission" parameterType="map">
        UPDATE schedule_share_user
        SET permission = #{permission}
        WHERE my_schedule_id = #{myScheduleId}
          AND shared_user_id = #{sharedUserId}
    </update>

    <select id="getTodoDetail" parameterType="String" resultType="String">
        SELECT todo_details
        FROM my_schedule
        WHERE my_schedule_id = #{scheduleId}
    </select>

    <select id="getBudgetDetail" parameterType="String" resultType="String">
        SELECT budget_details
        FROM my_schedule
        WHERE my_schedule_id = #{scheduleId}
    </select>

    <select id="getScheduleTitle" parameterType="String" resultType="String">
        SELECT title
        FROM my_schedule
        WHERE my_schedule_id = #{scheduleId}
    </select>

    <select id="getStartAt" parameterType="String" resultType="String">
        SELECT DATE_FORMAT(start_at, '%Y-%m-%d')
        FROM my_schedule
        WHERE my_schedule_id = #{scheduleId}
    </select>

    <select id="getNextMyScheduleIdCandidate" resultType="String">
        SELECT CONCAT('S', LPAD(NEXTVAL(seq_my_schedule), 3, '0'))
    </select>

    <select id="checkMyScheduleIdExists" parameterType="String" resultType="int">
        SELECT COUNT(my_schedule_id)
        FROM my_schedule
        WHERE my_schedule_id = #{id}
    </select>

    <select id="getLastPostId" resultType="String">
        SELECT CONCAT('P', LPAD(LASTVAL(seq_schedule_post), 3, '0'))
    </select>

    <insert id="insertMyScheduleRow" parameterType="map">
        INSERT INTO my_schedule (my_schedule_id, title, start_at, user_id, is_shared)
        VALUES (#{myScheduleId}, #{title}, NOW(), #{userId}, 0)
    </insert>

    <insert id="addVisitItem" parameterType="map">
        INSERT INTO visit_item (visit_item_id, visit_order, schedule_type, place_id, schedule_id)
        VALUES (NEXTVAL(seq_visit_item), #{visitOrder}, 'SCHEDULE', #{placeId}, #{scheduleId})
    </insert>

    <insert id="addCompanion" parameterType="map">
        INSERT INTO schedule_share_user (share_id, permission, my_schedule_id, shared_user_id)
        VALUES (NEXTVAL(seq_schedule_share_user), 'R', #{myScheduleId}, #{sharedUserId})
    </insert>

    <insert id="shareToPostInsert" parameterType="map">
        INSERT INTO schedule_post
        (post_id, title, budget_details, todo_details, is_anonymous, view_count, like_count, posted_at, user_id)
        SELECT CONCAT('P', LPAD(NEXTVAL(seq_schedule_post), 3, '0')),
               title,
               budget_details,
               todo_details,
               #{isAnonymous},
               0,
               0,
               NOW(),
               #{userId}
        FROM my_schedule
        WHERE my_schedule_id = #{myScheduleId}
    </insert>

    <insert id="shareVisitItemsToPost" parameterType="String">
        INSERT INTO visit_item (visit_item_id, visit_order, distance_to_next, schedule_type, place_id, schedule_id)
        SELECT NEXTVAL(seq_visit_item),
               visit_order,
               distance_to_next,
               'POST',
               place_id,
               CONCAT('P', LPAD(LASTVAL(seq_schedule_post), 3, '0'))
        FROM visit_item
        WHERE schedule_id = #{myScheduleId}
    </insert>

    <select id="isScheduleOwnedByUser" parameterType="map" resultType="int">
        SELECT COUNT(my_schedule_id)
        FROM my_schedule
        WHERE my_schedule_id = #{scheduleId}
          AND user_id = #{userId}
    </select>

    <select id="listMyScheduleIdAndTitle" parameterType="String"
            resultType="com.travel.letsgospringboot.myschedule.vo.ScheduleSummaryVO">
        SELECT my_schedule_id AS myScheduleId, title
        FROM my_schedule
        WHERE user_id = #{userId}
        ORDER BY start_at DESC, my_schedule_id DESC
    </select>

    <select id="getScheduleRoute" parameterType="String" resultMap="routeScheduleResultMap">
        SELECT v.visit_item_id, v.visit_order, p.place_id, p.title
        FROM my_schedule s
                 JOIN visit_item v ON s.my_schedule_id = v.schedule_id
                 JOIN place p ON v.place_id = p.place_id
        WHERE v.schedule_id = #{scheduleId}
        ORDER BY v.visit_order ASC
    </select>

    <select id="getMapSchedule" parameterType="String" resultMap="mapScheduleResultMap">
        SELECT p.title, v.visit_order, p.mapx, p.mapy, v.distance_to_next
        FROM my_schedule s
                 JOIN visit_item v ON s.my_schedule_id = v.schedule_id
                 JOIN place p ON v.place_id = p.place_id
        WHERE s.my_schedule_id = #{scheduleId}
        ORDER BY v.visit_order ASC
    </select>

    <delete id="deleteVisitItemById" parameterType="String">
        DELETE
        FROM visit_item
        WHERE visit_item_id = #{visitItemId}
    </delete>

    <select id="getCompanionList" parameterType="String" resultMap="colleagueResultMap">
        SELECT u.user_id, u.name, u.email, ssu.permission
        FROM schedule_share_user ssu
                 JOIN users u ON ssu.shared_user_id = u.user_id
        WHERE ssu.my_schedule_id = #{myScheduleId}
    </select>

</mapper>